<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="./styles/styles.css" media="screen" />
    <script src="https://kit.fontawesome.com/713a94b317.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="menu">
      <ul class="font-menu">
        <li>Searcsh</li>
        <li>Trending</li>
        <li>Recommend</li>
        <li>login/sing up</li>
        <i class="fa-duotone fa-gear"></i>
        <i class="fa-regular fa-gear"></i>
ssas
<i class="fa-solid fa-thumbs-up fa-5x"></i>
<p><i class="fa-solid fa-coffee fa-sm"></i> When my six o’clock alarm buzzes, I require a pot of good java.</p>

      </ul>
    </div>
    <div class="div-body">

    </div> 
</body>
</html>