@import url("https://fonts.googleapis.com/css?family=Chakra+Petch:400,700&display=swap");
* {
  padding: 0;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4 {
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
}

body {
  font-size: 16px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 35px;
}
.title-body{
    display: flex;
    justify-items: center;
    padding: 20px;

}

.container-body{
    display: grid;
    justify-items: center;
    align-items: center;
    padding: 20px;
    
    
}
.container-text{
    color: #3b3b37;
    width: 80%;
    justify-items: center;
    align-items: center;
    font-weight: 400;
    font-size: larger;

}